
a:hover {
  text-decoration: none !important;
}
body{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 100%;
}

footer{
  height: 50px;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 15px;
  vertical-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

li{
 display: inline-block;
 padding: 15px;
 font-size: 25px;
 text-align: center;
 float: left;
 border: 10px;
}

nav{
  overflow: hidden;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  background-color: black;
  color: white;
  min-height: 50px;
}
ul li::marker {
  color: white;
  font-size: 1.2em;
}
.active {
  color: #B3BDB6;
  text-decoration: none !important;
}

.body{
  min-height: 620px;
  height:auto;
  background-color: #1C1E22   ;
  padding: 19px;
  color: white;
}

.col-md-3{
  padding: 25px;
  background-color: #1C1E22  ;
  color: white;
}
.col-md-6{
  text-align: center;
}
.column {
  overflow: visible;
  float: left;
  min-height: 400px;
  height: auto;
  width: auto;
  margin: 10px;
}
.container-fluid{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.header-title {
  margin-top: 0;
  padding: 20px;
}
.home{
  min-height: 300px;
  background-image: url('birdhead.jpg');
  opacity: .9;
}
.home-col {
  background-color:  #ABB2B9 ;
  height: 200px;
}
.info{
  min-height: 200px;
  background-color: #797a7e;
  color: black;
  margin: 0px;
  padding: 0px;
}

.logo{
  min-height:30px;
  max-height: 125px;
  align-content: center;
}
.myButton {
  color: white;
  text-decoration: none !important;
}
.paragraphs{
  margin: auto;   
  width: 510px;
  text-align: center;
  padding-bottom: 50px;
}
.pic1 {
  padding: 10px;
  max-height: 300px;
}

.profile-pics{
  height: 100%;
  width: 100%;
  height: 400px;
  object-fit: cover;

}
.projectPar {
  margin: auto;
  width: 600px;
  text-align: center;
  font-size: 17px;
  padding-bottom: 50px;

}

.team-row {
  background-color: #e0ece4;
  min-height: 70px;
}

.title {
  color: white;
}

.video {
 padding-right: 50px;
 padding-top: 80px;
 margin:0;
}

#team-header {
  margin: 0;
  padding: 10px;
  color: white;
}
#team-info {
  padding: 10px;
  background-color: #ABB2B9 ;
}
#project-info{
  margin-top: 0;
  padding: 0px;
  background-color: #ABB2B9 ;
}
#schedule-info {
  background-color:  #ABB2B9;
}
#demo-info{
    background-color:  #ABB2B9;
}
#tech-info {
    background-color:  #ABB2B9;
}
#homepage {
  padding: 50px;

}
#doc-info {
  background-color: #ABB2B9;
}
#project-header {
  margin-top: 0;
  padding: 20px;
}
#video {
  padding-top: 50px;
}
