<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=3,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
        <title>Gallrey</title>
		<script src="/static/js/jquery.min.js"></script>
	</head>
    <body>
		<h1>Birds iView Image Uploader</h1>
		<div>
			<form name="profile-form" id="profile-form" action="/create-account" method="POST">
				<p>Name <input type="text" name="name" id="name"></p>
				<p>Email <input type="email" name="email" id="email"></p>
				<p><input type="submit" id="profile-upload"></p>
			</form>
		</div>
		<div>
			<form name="image-form" action="/upload-image" method="POST" enctype="multipart/form-data">
				<p><input type="file" name="file" id="file"></p>
				<p><input type="submit"></p>
			</form>
		</div>
	</body>
</html>
