<!DOCTYPE html>
    <html>
        <head>
            <title>
                pEEp Forum
            </title>
          <!---- bootstrap -->
          <link rel= "stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
          <!----main stylesheet-->
          <link rel= "stylesheet" href ="{{ url_for('static', filename='css/stylesheet.css') }}">
          <!---- javascript ----->
          <script type=text/javascript src="{{
              url_for('static', filename='js/main.js') }}"></script>
          <script type= "text/javascript" src="/static/js/bootstrap.min.js"></script>
        </head>
        <body>
            <div class = "container-fluid" > 
             <!--- first row-->
                <div class= "row">
                    <nav>
                        <ui>
                            <li> <a class = "myButton" href= "/"> pEEp Home </a> </li>
                            <li> <a class = "myButton" href= "/mypeep"> My pEEp  </a> </li>
                            <li> <a class = "myButton" href= "/learn"> pEEp Learn </a> </li>
                            <li> <a class = "active" href= "/forum"> pEEp Forum </a> </li>
                            <!--- <li> <a class = "myButton" href= "/blog"> pEEp Blogs </a> </li>
                             <li> <a class = "myButton" href= "/science"> pEEp Science </a> </li>
                             <li> <a class = "myButton" href= "/store"> pEEp Store </a> </li> -->
                            <li> <a class = "myButton" href= "/about"> pEEp About </a> </li>
                            <li> <a class = "myButton" href= "/signup"> pEEp Sign Up </a> </li>
                        </ui>
                      </nav>

                      <div class = "forum"> 
                        <div class="container">
                        <!--- first row-->
                            <div class="row">
                           <!--- first column in first row-->
                              <div class="col-sm">
                                <div class="card" style="width: 18rem;">
                                  <img src="static/sample-images/default.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
                                 </div>
                              </div>
                            </div>
                            <!--- second col in first row-->
                              <div class="col-sm">
                                <div class="card" style="width: 18rem;">
                                  <img src="static/sample-images/default.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm">
                              </div>
                            </div>

                         <!--- second row-->
                            <div class="row">
                               <!--- first column second row-->
                                <div class="col-sm">
                                  <div class="card" style="width: 18rem;">
                                    <img src="static/sample-images/default.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                  </div>
                                </div>
                               <!--- second column second row-->
                                <div class="col-sm">
                                  <div class="card" style="width: 18rem;">
                                    <img src="static/sample-images/default.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                  </div>
                                </div>
                              <!--- third column second row-->
                                <div class="col-sm">
                               
                                </div>
                            </div>

                         <!--- third row-->
                           <div class="row">
                             <!--- first column third row-->
                              <div class="col-sm">
                                <div class="card" style="width: 18rem;">
                                  <img src="static/sample-images/default.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  </div>
                                </div>
                              </div>
                              <!--- second column third row-->
                              <div class="col-sm">
                                <div class="card" style="width: 18rem;">
                                  <img src="static/sample-images/default.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  </div>
                                </div>
                              </div>
                            <!--- third column third row-->
                              <div class="col-sm"> </div>
                            </div>

                           <!--end div class container-->
                           </div>
                      <!--end div class forum-->
                      </div>
                 <!--end outside row-->
                 </div>
            <!-- end containter fluid-->
            </div>
        </body>
    </html>
