<!DOCTYPE html>
<html>
    <head>
        <title>
            my pEEp 
        </title>
      <!---- bootstrap -->
      <link rel= "stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!----main stylesheet-->
      <link rel= "stylesheet" href ="{{ url_for('static', filename='css/stylesheet.css') }}">
      <!----main javascript-->
      <script type= "text/javascript" src="/static/js/main.js"></script>
      <script type= "text/javascript" src="/static/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class = "container-fluid" > 
            <div class= "row">
                <nav>
                    <ui>
                        <li> <a class = "myButton" href= "/"> pEEp Home </a> </li>
                        <li> <a class = "active" href= "/mypeep"> My pEEp  </a> </li>
                        <li> <a class = "myButton" href= "/learn"> pEEp Learn </a> </li>
                        <li> <a class = "myButton" href= "/forum"> pEEp Forum </a> </li>
                       <!--- <li> <a class = "myButton" href= "/blog"> pEEp Blogs </a> </li>
                        <li> <a class = "myButton" href= "/science"> pEEp Science </a> </li>
                        <li> <a class = "myButton" href= "/store"> pEEp Store </a> </li> -->
                        <li> <a class = "myButton" href= "/about"> pEEp About </a> </li>
                        <li> <a class = "myButton" href= "/signup"> pEEp Sign Up </a> </li>
                    </ui>
                  </nav>

                  <div class = "my-peep">
                    <div class="container">
                      <div class="row">  
                        <div class = "col" ></div> 
                          <div class = "col"> 
                          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="/static/sample-images/default.png" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/static/sample-images/default.png" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/static/sample-images/default.png" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </a>
                           </div>
                          </div>
                          <div class = "col"></div>
                      <div class = "row">
                        <div class = "col-sm">
                        </div>
                         <div class = "col-sm">

                        <!-- Button trigger modal -->
                        <button type="button" class = "btn btn-dark" id = "make-post-btn"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                          post
                        </button>
                         <button type="button" class = "btn btn-dark" id = "delete-post-btn">
                          delete
                         </button>

                         <!-- Modal -->
                       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-dialog">
                            <div class="modal-content">
                               <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel"> Upload Image </h5>
                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                              <div class="modal-body">
                                 comment:
                              <input class = "upload-box" data-bs-spy="scroll"> </input>
                              </div>
                               <div class="modal-footer">
                               <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-dark"> Post </button>
                              </div> 
                              </div>
                            </div>
                           </div>
                          </div>

                        <div class = "col-sm"></div>
                        </div>

                        </div> 
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
